<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit Subcategory</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../static/adminResources/images/favicon.png"/>
</head>

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->


    {% include 'admin/header.html' %}


    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

        <!-- partial:partials/_sidebar.html -->

        {% include 'admin/menu.html' %}

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row grid-margin">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Edit Subcategory</h4>
                                <form action="/admin/update_subcategory/" method="post">
                                    {% csrf_token %}
                                    <fieldset>
                                        <div class="form-group">
                                            <select class="form-control form-control-lg" id="subCategoryCategoryId"
                                                    name="subCategoryCategoryId">
                                                <option value="Select one" selected disabled>Select Category</option>
                                                <option selected disabled>Select Category</option>
                                                {% for i in category_vo_list %}
                                                    <option value="{{ i.category_id }}">{{ i.category_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        {% for j in subcategory_vo_list %}
                                            <input type="hidden" name="subCategoryId" class="form-control"
                                                   value="{{ j.subcategory_id }}"><br><br>

                                            <div class="form-group">
                                                <label for="cname">Subcategory Name</label>
                                                <input id="cname" class="form-control" name="subCategoryName"
                                                       type="text"
                                                       value="{{ j.subcategory_name }}" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="ccomment">Subcategory Description</label>
                                                <textarea id="ccomment" class="form-control"
                                                          name="subCategoryDescription"
                                                          required>{{ j.subcategory_description }}</textarea>
                                            </div>

                                            <input class="btn btn-primary" type="submit" value="Submit">
                                        {% endfor %}
                                    </fieldset>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->

            {% include 'admin/footer.html' %}

            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<script src="../../static/adminResources/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="../../static/adminResources/js/form-validation.js"></script>
<script src="../../static/adminResources/js/bt-maxLength.js"></script>
<!-- End custom js for this page-->
</body>

</html>