<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin/load_dashboard/">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        <li class="nav-item">
            <a class="nav-link" href="/admin/view_user/">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Manage User</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-advanced" aria-expanded="false"
               aria-controls="ui-advanced">
                <i class="mdi mdi-map-marker-radius menu-icon"></i>
                <span class="menu-title">Manage Area</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-advanced">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/load_area/">Add Area</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/view_area/">View Area</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false"
               aria-controls="form-elements">
                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">Manage Category</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/load_category/">Add Category</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/admin/view_category/">View Category</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#editors" aria-expanded="false" aria-controls="editors">
                <i class="mdi mdi-dots-horizontal-circle menu-icon"></i>
                <span class="menu-title">Manage Subcategory</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="editors">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/load_subcategory/">Add Subcategory</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/view_subcategory/">View Subcategory</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                <i class="mdi mdi-carrot menu-icon"></i>
                <span class="menu-title">Manage Product</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="/admin/load_product/">Add Product</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/view_product/">View Product</a></li>

                </ul>
            </div>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/admin/view_complain/">
                <i class="mdi mdi-comment-multiple-outline menu-icon"></i>
                <span class="menu-title">Manage Complaint</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/view_feedback/">
                <i class="mdi mdi-thumb-up menu-icon"></i>
                <span class="menu-title">Manage Feedback</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/admin/logout_session/">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>

    </ul>
</nav>