<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>View Product</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../static/adminResources/images/favicon.png"/>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->


    {% include 'admin/header.html' %}


    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

        <!-- partial:partials/_sidebar.html -->

        {% include 'admin/menu.html' %}

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">View Product</h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="order-listing" class="table">
                                        <thead>
                                        <tr>
                                            <th>Product Image</th>
                                            <th>Product name</th>
                                            <th>Product description</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Category name</th>
                                            <th>Subcategory name</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            {% for row in product_vo_list %}
                                                <tr>
                                                    <td><a href="{{ row.product_image.url }}" target="_blank">View</a>
                                                    </td>
                                                    <td>{{ row.product_name }}</td>
                                                    <td>{{ row.product_description }}</td>
                                                    <td>{{ row.product_quantity }}</td>
                                                    <td>{{ row.product_price }}</td>
                                                    <td>{{ row.product_category_vo.category_name }}</td>
                                                    <td>{{ row.product_subcategory_vo.subcategory_name }}</td>
                                                    <td>
                                                        <a href="/admin/delete_product?productId={{ row.product_id }}">Delete</a>
                                                        <a href="/admin/edit_product_data?productId={{ row.product_id }}">Edit
                                                            Data</a>
                                                        <a href="/admin/edit_product_image?productId={{ row.product_id }}">Edit
                                                            Image</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->

            {% include 'admin/footer.html' %}

            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<script src="../../static/adminResources/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="../../static/adminResources/js/data-table.js"></script>
<!-- End custom js for this page-->
</body>

</html>