<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="www.frebsite.nl"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Forget Password</title>

    <!-- Custom CSS -->
    <link href="../../static/userResources/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/adminResources/css/jquery.toast.min.css">

</head>

<body class="grocery-theme light">

<!-- =========================== Login/Signup =================================== -->
<section class="pb-5">
    <div class="container">

        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12"></div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="login_signup">
                    {#                   <a class="navbar-brand brand-logo"><img#}
                    {#                src="../../static/adminResources/images/name1.jpeg"/></a>#}
                    <h2 align="center">Innoventa</h2><br>
                    <h3 class="login_sec_title">Forget Password</h3>
                    <form action="/user/validate_login_username" method="post">

                        <div class="form-group">
                            <input type="email" placeholder="Enter Your Email" id="loginUsername" name="loginUsername"
                                   class="form-control">
                        </div>
                        <br><br>

                        <div class="form-group">
                            <button type="submit" style="width: 100%" class="btn btn-md btn-theme">Submit</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- =========================== Login/Signup =================================== -->

{% include 'user/footer.html' %}
<script src="../../static/userResources/js/jquery.min.js"></script>
<script src="../../static/userResources/js/popper.min.js"></script>
<script src="../../static/userResources/js/bootstrap.min.js"></script>
<script src="../../static/userResources/js/metisMenu.min.js"></script>
<script src="../../static/userResources/js/owl-carousel.js"></script>
<script src="../../static/userResources/js/ion.rangeSlider.min.js"></script>
<script src="../../static/userResources/js/smoothproducts.js"></script>
<script src="../../static/userResources/js/jquery-rating.js"></script>
<script src="../../static/userResources/js/jQuery.style.switcher.js"></script>
<script src="../../static/userResources/js/custom.js"></script>
<script src="../../static/adminResources/js/jquery.toast.min.js"></script>
<script src="../../static/adminResources/js/toaster.js"></script>

<script src="../../static/adminResources/js/customValidation.js"></script>

<script>
    function openRightMenu() {
        document.getElementById("rightMenu").style.display = "block";
    }

    function closeRightMenu() {
        document.getElementById("rightMenu").style.display = "none";
    }
</script>

<script>
    function openLeftMenu() {
        document.getElementById("leftMenu").style.display = "block";
    }

    function closeLeftMenu() {
        document.getElementById("leftMenu").style.display = "none";
    }
</script>

<script>
    function openFilterSearch() {
        document.getElementById("filter_search").style.display = "block";
    }

    function closeFilterSearch() {
        document.getElementById("filter_search").style.display = "none";
    }
</script>


</body>
</html>